<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 grid">
    <div class="card" *ngFor="let photo of photos">
    <img class="card-img-top" [src]="photo.thumbnailUrl" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{photo.title}}</h5>
        <button type="button" class="btn"  data-bs-toggle="modal" data-bs-target="#exampleModal">Ver</button>
        <button type="button" class="btn" (click)="eliminarFoto(photo.id)">Eliminar</button>

        
      </div>
       <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Foto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="photo.url"/>
      </div>
    </div>
  </div>
</div>
    </div>

    <div>
    </div>
  </div>
