.btn{
    background-color: #ffbfaf;
    margin-left: 1rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;

}

.card{
    width: 100%;
}

.buscar
{
    width: 100%;
    align-items: center;
}
input{
    width: 30%;
    align-self: center;
}